[![Open In Colab](https://colab.research.google.com/assets/colab-badge.svg)](https://colab.research.google.com/github/Nepal-College-of-Information-Technology/AI-Data-Science-Worksop-2024/blob/main/Practice%20Yourself/Assignment_1_Python_basic.ipynb)


# Assignment 1: Python Basics

This assignment consists of three simple questions, three medium-level questions, and four more challenging (optional) questions. Please attempt the first six questions, and try the optional questions if you feel confident.

### Instructions:
- Each question is followed by a code cell. Write your solution in the provided space.
- For optional questions, you can attempt them if you want extra practice.

---

## Simple Questions:


### 1. Print "Hello, Python!"

**Hint**: Use the `print()` function to display text.

In [1]:
print("Helllo,Python!")

Helllo,Python!


### 2. Define two variables: one integer and one string. Print them together in a single sentence.

**Hint**: Use `print()` and string concatenation or formatted strings.

In [2]:
name = "Deepak Joshi"
age = 78
print(f"{name} {age}")

Deepak Joshi 78


### 3. Create a list of 5 numbers. Print the sum of the numbers.

**Hint**: Use the `sum()` function.

In [3]:
My_list = [2,7,5,4,3]

Addition = sum(My_list)
print("Addition:",Addition)

Addition: 21


---

## Medium-Level Questions:


### 4. Write a function that takes two numbers and returns their product.

**Hint**: Use the `def` keyword to define a function, and use the `return` statement to return the result.

In [4]:
def product(x,y):
  return x * y

answer = product(56,32)
print("Product:",answer)

Product: 1792


### 5. Use a `for` loop to print the numbers from 1 to 10.

**Hint**: Use the `range()` function to generate the numbers.

In [5]:
for i in range(1,11):
  print(i)

1
2
3
4
5
6
7
8
9
10


### 6. Write a function that checks if a number is prime.

**Hint**: A prime number is a number greater than 1 that has no divisors other than 1 and itself.

In [6]:
def isit_prime(n):

  if n <= 1:
    return False
  if n <= 3:
    return True
  if n % 2 == 0 or n % 3 == 0:
    return False
    i = 7

    while i* i <=n:
      if n % i == 0 and n % (i +2):
        return False

      i += 8
      return True


number = 65

if isit_prime(number):
  print(f"{number} is prime")

else:
  print(f"{number} is not prime")

65 is not prime


---

## Optional (More Challenging) Questions:


### 7. Write a program that reverses a string provided by the user.

**Hint**: You can reverse a string by slicing with a negative step `[::-1]`.

In [8]:
word = "Reality" [::-1]
print(word)

ytilaeR


### 8. Create a program that finds the factorial of a number.

**Hint**: The factorial of `n` is the product of all positive integers less than or equal to `n`. You can use a loop or recursion to solve this.

In [12]:
n = int(input("Enter a number:"))
fact =1
if n < 0:
  print("The factorial doesn't exist")
elif n == 0 and n == 1:
  print("Its factorial is 1")

else:
     for i in range(1,(n + 1)):
           fact = fact*i
     print("The factorial is ",n ,"is: ",fact)

Enter a number:5
The factorial is  5 is:  120


### 9. Write a function to calculate the Fibonacci sequence up to a given number.

**Hint**: Each number in the sequence is the sum of the two preceding ones, starting from 0 and 1.

In [13]:
def fibonacci(number):
    x, y = 0, 1
    while x < number:
        print(x, end=" ")
        x, y = y, x + y
    print()

fibonacci(30)

0 1 1 2 3 5 8 13 21


### 10. Find the largest number in a list without using the `max()` function.

**Hint**: Use a loop to compare each element of the list and keep track of the largest value.

In [14]:
New_List = [5,8,2,9,15]
largest_value = max(New_List)
print(largest_value)

15